.idea/
bin/exe
bin/result.mat
build/CMakeCache.txt
build/CMakeFiles/3.8.2/CMakeCCompiler.cmake
build/CMakeFiles/3.8.2/CMakeCXXCompiler.cmake
build/CMakeFiles/3.8.2/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.8.2/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.8.2/CMakeSystem.cmake
build/CMakeFiles/3.8.2/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.8.2/CompilerIdC/tmp/
build/CMakeFiles/3.8.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.8.2/CompilerIdCXX/tmp/
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/CMakeTmp/
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/clion-environment.txt
build/CMakeFiles/clion-log.txt
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/exe.dir/
build/CMakeFiles/feature_tests.bin
build/CMakeFiles/feature_tests.c
build/CMakeFiles/feature_tests.cxx
build/CMakeFiles/progress.marks
build/Makefile
build/cmake_install.cmake
build/pddp.cbp
build/CMakeFiles/3.8.2/CompilerIdC/a.out
build/CMakeFiles/3.8.2/CompilerIdCXX/a.out
